//Reusable blocks of logic, such as media query helpers, flexbox shorthand shortcuts, or responsive typography functions.

@mixin flex-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
