//Design tokens such as colors, font families, spacing scales, breakpoints, and z-index layers.

//Colors
$bg-grey: #2b2d38;
$btn: #db296b;
$btn-hover: #db296bd9;
$white: #ffffff;
$grey: #95969c;
$ellipse: #e1e1e1;
$feature: #464751;

//Typography
$font-primary: "Poppins", sans-serif;
$font-title: "Merriweather", serif;
